<section class="featured-blog mtb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let course of allCourse">
                <div class="blog-box">
                    <img [src]="course.image" (error)="imageError($event)" alt="blog1" height="225px" />
                    <h3>{{course.title}}</h3>
                    <p>by <span>Guddu patel</span></p>
                    <p>{{course.title}}
                    </p>
                    <a routerLink='/courses/{{course.id}}' class="btn btn-success">continue reading...</a>
                </div>
            </div>
        </div>
    </div>
</section>