<section class="blog-list mtb-40">
    <div class="container">
        <h1>Courses</h1>
        <!-- <div class="row">

            <div class="col-md-4" *ngFor=' let course of allCourse'>
                <div class="blog-box">
                    <img src="./assets/img/img{{course}}.jpg" alt="blog1" />
                    <h3>Angular 7 Full Course</h3>
                    <p>by <span>guddu Tutorials</span> </p>
                    <p>Angular 7 released in October 2018, just like it was scheduled. The new features of the framework
                        are the updated form of Node 10..</p>
                    <a routerLink="/courses/{{course}}" routerLinkActive="active" class="btn btn-danger">Read
                        more...</a>

                </div>
            </div>
        </div> -->
        <app-course-featured></app-course-featured>
    </div>
</section>